<div class="wrapper">
    <form class="form" [formGroup]="form" (ngSubmit)="sendEmail()">
        <h2>Email de recuperación</h2>
        <input class="input" type="email" placeholder="Introduzca su email" formControlName="email" required>
        <div class="flex">
            <button class="btn" type="button" [routerLink]="['/auth/login']">Atrás</button>
            <button type="submit" class="btn" [disabled]="!form.valid" [routerLink]="['/auth/forgot/siguiente']">Siguiente</button> 
        </div>
    </form>
</div>